<div class="table-container">
<table id ="SearchTable" class="table table-light table-striped" *ngIf="tracks && tracks[0].primaryArtist.name">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Track</th>
			<th scope="col">Duration</th>
			<th scope="col" *ngIf="hideArtist===false">Primary Artist</th>
			<th scope="col" *ngIf="hideAlbum===false">Album</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let track of tracks; let i=index">
			<td>{{i + 1}}</td>
			<td>
				<a href="./track/{{track.id}}">{{track.name}}</a>
			</td>
			<td>{{track.durationStr}}</td>
			<td><a *ngIf="hideArtist === false && track.primaryArtist && track.primaryArtist.name" href="./artist/{{track.artists[0].id}}">
				{{track.primaryArtist.name}}
			</a></td>
			<td><a *ngIf="hideAlbum === false && track.album && track.album.name" href="./album/{{track.album.id}}">
				{{track.album.name}}
			</a></td>
		</tr>
	</tbody>
</table>
</div>


