<div id="wholePage">
	<div id="trackSection" *ngIf="track">
		<h1>{{track.name}}</h1>
		<p>
			Track on <a href="./album/{{track.album.id}}">{{this.track.album.name}}</a>
		</p>
		<div>
			<p *ngFor="let artist of this.track.album.artists">
				Artist: <a href="./artist/{{artist.id}}">{{artist.name}}</a>
			</p>
		</div>
		<p>
			Duration: {{track.durationStr}}
		</p>
		<p>
			<a class="btn btn-light" role="button" target="_blank" [href]="this.track.url">Open {{track.name}} on Spotify</a>
		</p>
	</div>
	<div id="keywordsSection" *ngIf="audioFeatures" >
		<p *ngFor="let feature of audioFeatures">
			<app-thermometer [featureType]="feature.name" [percentString]="feature.percentageString" [color]="feature.color">
			</app-thermometer>
		</p>
	</div>
</div>
