<h1>Search Spotify</h1>
<input [(ngModel)]="searchString">
<select [(ngModel)]="searchCategory">
	<option [ngValue]="category" *ngFor="let category of searchCategories">
		{{category}}
	</option>
</select>

<button class="btn btn-light" (click)="search()">Search</button>
<app-carousel *ngIf="searchCategory==='artist' || searchCategory==='album'" [carouselId]="searchCategory" [resources]="resources"></app-carousel>
<app-track-list *ngIf="searchCategory==='track'" [tracks]="resources"></app-track-list>
