<div id = "wholePage" *ngIf="album" >
    <div id = "albumPic">
        <h1>{{album.name}}</h1>
        <img id="albumPicImg" [src]="this.album.imageURL">
        <p>
            <li *ngFor="let artist of this.album.artists">
                Artist: <a href="./artist/{{artist.id}}">{{artist.name}}</a>
            </li>
        </p>
        <p>
            <a class="btn btn-light" role="button" target="_blank" [href]="this.album.url">Open {{album.name}} on Spotify</a>
        </p>
    </div>
    <div id = "albumTracks">
        <h3>Album Tracks</h3>
        <app-track-list id ="albumTracksRows" [tracks]="this.tracks" hideArtist="true" hideAlbum="true"></app-track-list>
    </div>
</div>
