
#wholePage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    /* place-items: center; */

}

#artistsName{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
  
    /* justify-content: center;
    align-items: center; */
    
}

#topTracks{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* justify-content: center; */
    /* align-items: center; */
}

/* #otherAlbums{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#similarArtists{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
} */

#artistsPicImg{
	width: 450px;
	height: 450px;
}

#tracksTracksRows{
	height: 85vh; /* Set the desired height for the scrollable area */
    /* width: 45vw; */
    overflow-y: auto;
}
