<div id = "wholePage" *ngIf="artist">
	<div id = "artistsName">
		<!--TODO: populate with artist name-->
		<h1>{{artist.name}}</h1>
		<!--TODO: populate with artist image URL-->
		<img id="artistsPicImg" [src]="this.artist.imageURL">
		<p>
			<!--TODO: link to artist page on spotify, display artist name-->
			<a class="btn btn-light" role="button" target="_blank" [(href)]="this.artist.url">Open {{artist.name}} on Spotify</a>
		</p>
	</div>
	<!-- <div>
		<h3>Genres</h3>
		<ul>
			<li *ngFor="let genre of this.artist.genres">{{genre}}</li>
		</ul>
		<p>
		</p>
	</div> -->
	<div id = "topTracks">
		<!--TODO: display artist name-->
		<h3>{{artist.name}}'s Top Tracks</h3>
		<!--TODO: display the artist's top tracks-->
		<app-track-list id = "tracksTracksRows" [tracks]="topTracks"></app-track-list>
	</div>
	</div>
	

	<!-- <div *ngIf="artist">
		<div id = "otherAlbums">
			<h3>{{artist.name}}'s Albums</h3>
			<app-carousel [carouselId]="artist" [resources]="albums"></app-carousel>
		</div>
		<div id = "similarArtists">
			<h3>Similar Artists</h3>
			<app-carousel [carouselId]="artist" [resources]="relatedArtists"></app-carousel>
		</div>
	
	</div> -->


<!-- <div *ngIf="artist">
	<div id = "otherAlbums">
		<h3>{{artist.name}}'s Albums</h3>
		<app-carousel [carouselId]="artist" [resources]="albums"></app-carousel>
	</div>
	<div id = "similarArtists">
		<h3>Similar Artists</h3>
		<app-carousel [carouselId]="artist" [resources]="relatedArtists"></app-carousel>
	</div>

</div> -->